@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.text-center {
  text-align: center;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 4em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.list-none {
  list-style: none;
}

.main-top {
  background-color: #1C1C1C;
  padding: 30px 0;
}
.main-top .container h2 {
  color: white;
}
.main-top .container .elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-top .container .elements .element {
  width: 13.3333333333%;
  margin-top: 40px;
  margin-left: 20px;
}
.main-top .container .elements .element .element-img {
  height: 200px;
  overflow: hidden;
}
.main-top .container .elements .element .element-img img {
  width: 100%;
}
.main-top .container .elements .element p {
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
  margin-top: 10px;
}

.main-bottom {
  background-color: #0282F9;
}
.main-bottom .container {
  padding: 30px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}
.main-bottom .container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.main-bottom .container ul li {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.main-bottom .container ul li img {
  width: 50px;
}
.main-bottom .container ul li.shop {
  width: 35px;
}
.main-bottom .container ul li p {
  color: white;
  font-size: 1.1em;
  margin-left: 8px;
}

.header-top {
  background-color: #0282F9;
  width: 100%;
  height: 20px;
}
.header-top .container {
  display: flex;
  justify-content: flex-end;
}
.header-top .container ul {
  list-style: none;
  display: flex;
}
.header-top .container ul li a {
  font-size: 0.6em;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 15px;
}

.header-bottom .container {
  display: flex;
  height: 80px;
}
.header-bottom .container .col-sx {
  width: 10%;
  text-align: center;
  padding: 10px 0;
}
.header-bottom .container .col-sx img {
  width: 4em;
}
.header-bottom .container .col-cent {
  width: 80%;
}
.header-bottom .container .col-cent ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom .container .col-cent ul li {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.header-bottom .container .col-cent ul a {
  color: black;
  display: block;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header-bottom .container .col-cent ul a:hover, .header-bottom .container .col-cent ul a:focus, .header-bottom .container .col-cent ul a:active, .header-bottom .container .col-cent ul a.active {
  color: #0282F9;
  padding-top: 4px;
  border-bottom: 4px solid #0282F9;
}
.header-bottom .container .col-dx {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom .container .col-dx .input {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #0282F9;
}
.header-bottom .container .col-dx .input input {
  background-color: none;
  border: none;
  width: 95%;
}

.jumbotron {
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("../images/jumbotron.jpg");
  background-position: top;
}
.jumbotron .container {
  height: 100%;
  position: relative;
}
.jumbotron .container .current {
  position: absolute;
  bottom: -20px;
  left: -40px;
  background-color: #0282F9;
  padding: 10px;
}

.footer-top {
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
  width: 100%;
  color: white;
  overflow: hidden;
  padding: 30px 0;
}
.footer-top .container {
  display: flex;
}
.footer-top .container .footer-sx-top {
  width: 70%;
  display: flex;
}
.footer-top .container .footer-sx-top .col-top {
  width: 15%;
  margin: 20px 0;
}
.footer-top .container .footer-sx-top .col-top ul li {
  margin-top: 10px;
}
.footer-top .container .footer-sx-top .col-top ul li a {
  text-decoration: none;
  color: gray;
  font-size: 0.8em;
}
.footer-top .container .footer-sx-top .col-top ul li a:hover {
  color: white;
}
.footer-top .container .footer-sx-top .col-top .shop {
  margin-top: 15px;
}
.footer-top .container .footer-dx-top {
  width: 30%;
  display: flex;
}
.footer-top .container .img-dc {
  width: 75%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
.footer-top .container .img-dc img {
  position: absolute;
  top: -115;
}
.footer-top .container-bottom-footer {
  font-size: 0.8em;
  color: gray;
}
.footer-top .container-bottom-footer a {
  color: #0282F9;
}

.footer-bottom {
  background-color: #222222;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.footer-bottom .container .bottom-sx button {
  color: white;
  border: 2px solid #0282F9;
  padding: 1em;
  background-color: transparent;
}
.footer-bottom .container .bottom-sx button:hover {
  background: white;
  color: #1C1C1C;
}
.footer-bottom .container .bottom-dx {
  display: flex;
  align-items: center;
}
.footer-bottom .container .bottom-dx h3 {
  color: #0282F9;
}
.footer-bottom .container .bottom-dx ul {
  display: flex;
}
.footer-bottom .container .bottom-dx ul li {
  margin-left: 10px;
}
.footer-bottom .container .bottom-dx ul li a img {
  width: 80%;
}
.footer-bottom .container .bottom-dx ul li a img:hover {
  background: white;
  border-radius: 100%;
}