@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.text-center {
  text-align: center;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 4em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.list-none {
  list-style: none;
}

.header-top {
  background-color: #0282F9;
  width: 100%;
  height: 20px;
}
.header-top .container {
  display: flex;
  justify-content: flex-end;
}
.header-top .container ul {
  list-style: none;
  display: flex;
}
.header-top .container ul li a {
  font-size: 0.6em;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 15px;
}

.header-bottom .container {
  display: flex;
  height: 80px;
}
.header-bottom .container .col-sx {
  width: 10%;
  text-align: center;
  padding: 10px 0;
}
.header-bottom .container .col-sx img {
  width: 4em;
}
.header-bottom .container .col-cent {
  width: 80%;
}
.header-bottom .container .col-cent ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom .container .col-cent ul li {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.header-bottom .container .col-cent ul a {
  color: black;
  display: block;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header-bottom .container .col-cent ul a:hover, .header-bottom .container .col-cent ul a:active, .header-bottom .container .col-cent ul a.active {
  color: #0282F9;
  padding-top: 4px;
  border-bottom: 4px solid #0282F9;
}
.header-bottom .container .col-dx {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom .container .col-dx .input {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #0282F9;
}
.header-bottom .container .col-dx .input input {
  background-color: none;
  border: none;
  width: 95%;
}