@import "partials/variables";
.header-top {
    background-color: $BlueColor;
    width: 100%;
    height: 20px;
    .container {
        display: flex;
        justify-content: flex-end;
        ul {
            list-style: none;
            display: flex;

            li{
                display: flex;
                align-items: center;
                color: white;
                a {
                    font-size: 0.6em;
                    text-decoration: none;
                    font-weight: bold;
                    margin-left: 15px;
                    margin-right: 5px;
                    color: white;

                    
                }
            }
        }
    }
}
.header-bottom {
    .container {
        display: flex;
        height: 80px;
    
        .col-sx {
            width: 10%;
            text-align: center;
            
            padding: 10px 0;
            img {
                width: 4em;
            }
        }
    
        .col-cent {
            width: 80%;
            
    
            ul {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    margin-left: 15px;
                    
                    a {
                        color: black;
                        display: block;
                        height: 100%;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        &:hover,
                        &:focus,
                        &:active,
                        &.active {
                            color: $BlueColor;
                            padding-top: 4px;
                            border-bottom: 4px solid $BlueColor;
                            }
                        }
                    
                    .fa-sort-down {
                        position: relative;
                        top: -4px;
                        margin-left: 3px;
                        color: $BlueColor;

                    }
                }
                    
                }
        }
        .col-dx {
            width: 10%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .input {
                width: 100%;
                display: flex;
                border-bottom: 2px solid $BlueColor;
                input {
                    outline: none;
                    border: none;
                    width: 95%;
                    text-align: end;
                    margin-right: 6px;
                    font-weight: bolder;
                    
                    
                }
            }
        }
        
    }
}
.jumbotron {
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("../images/jumbotron.jpg");
   
    // /background-image: url("{{ URL::asset('assets/images/jumbotron.jpg }}");
    background-position: top;
    .container {
        height: 100%;
        position: relative;
        .current {    
            position: absolute;
            bottom: -20px;
            left: -40px;
            background-color: $BlueColor;
            padding: 10px;
        }
    }
}
